---
interface Props {
    label: string;
    href?: string;
}

const { label, href } = Astro.props;
---

{
    href ? (
        <a href={href} class="btn-minimalista">
            {label}
        </a>
    ) : (
        <button class="btn-minimalista">{label}</button>
    )
}

<style>
    .btn-minimalista {
        padding: 0.5rem 1rem;
        border: 1px solid var(--color-accent);
        background: transparent;
        color: var(--color-accent);
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
    }
    .btn-minimalista:hover {
        background: var(--color-accent);
        color: white;
    }
</style>
