---
import Layout from "../../../templates/serenity/Layout.astro";
import Hero from "../../../templates/serenity/organisms/Hero.astro";
import Countdown from "../../../templates/serenity/organisms/Countdown.astro";
import Location from "../../../templates/serenity/organisms/Location.astro";
import DressCode from "../../../templates/serenity/organisms/DressCode.astro";
import RSVP from "../../../templates/serenity/organisms/RSVP.astro";
---

<Layout title="Serenity RSVP - Daniela">
    <Hero />
    <Countdown />
    <div class="divider" data-aos="fade"></div>
    <Location />
    <div class="divider" data-aos="fade"></div>
    <DressCode />
    <div class="divider" data-aos="fade"></div>
    <RSVP />
</Layout>
