---
import Layout from "../../templates/botanical/Layout.astro";
import Hero from "../../templates/botanical/organisms/Hero.astro";
import Countdown from "../../templates/botanical/organisms/Countdown.astro";
import Gallery from "../../templates/botanical/organisms/Gallery.astro";
import Details from "../../templates/botanical/organisms/Details.astro";
import Locations from "../../templates/botanical/organisms/Locations.astro";
import RSVP from "../../templates/botanical/organisms/RSVP.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="Botanical">
    <main class="main-content">
        <Hero />
        <Countdown />
        <Gallery />
        <Details />
        <Locations />
        <RSVP />
        <Footer />
    </main>
</Layout>

<style>
    .main-content {
        width: 100%;
        min-height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow-x: hidden;
        --color-accent: var(--color-verde); /* Needed by Footer.astro */
    }
</style>
